{% extends 'base.html' %} {% block head %}
<h1 style="text-align: center">Accounting System</h1>
{% endblock %} {% block body %}
<div class="form">
  <form class="d-flex" role="search" method="POST" action="/">
    <input
      class="form-control me-2"
      type="text"
      placeholder="客戶"
      aria-label="form"
      name="customer_name"
    />
    <input
      class="form-control me-2"
      type="text"
      placeholder="品項"
      aria-label="form"
      name="order_items"
    />
    <input
      class="form-control me-2"
      type="date"
      placeholder="日期"
      aria-label="form"
      name="order_date"
    />
    <button class="btn btn-outline-success" type="submit">Add</button>
  </form>
  <!-- <form action="/" method="POST">
    <input type="text" name="customer_name" id="customer_name" />
    <input type="text" name="order_items" id="order_items" />
    <input type="date" name="order_date" id="order_date" />

    <input type="submit" value="Submit" />
  </form> -->
</div>
<div class="content">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Order</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
    </thead>

    {% for order in orders %}
    <tbody>
      <tr>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.order_items }}</td>

        <td>{{ order.order_date }}</td>

        <td colspan="4">
          <table class="table mb-0">
            <a href="/update/{{order.id}}" class="btn btn-outline-warning"
              >Update</a
            >
            <a href="/delete/{{order.id}}" class="btn btn-outline-danger"
              >Delete</a
            >
          </table>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
