{% extends 'base.html' %} {% block head %}
<h1 style="text-align: center">Accounting System</h1>
{% endblock %} {% block body %}

<div class="form">
  <h1 style="text-align: center">Update Order</h1>
  <div class="row">
    <form
      action="/update/{{order.id}}"
      method="POST"
      style="display: flex; justify-content: space-between"
    >
      <input
        class="form-control me-2"
        type="text"
        placeholder="客戶"
        name="customer_name"
        id="customer_name"
        value="{{order.customer}}"
      />
      <input
        class="form-control me-2"
        type="text"
        placeholder="品項"
        name="order_items"
        id="order_items"
        value="{{order.items}}"
      />
      <input
        class="form-control me-2"
        type="date"
        placeholder="日期"
        name="order_date"
        id="order_date"
        value="{{order.date}}"
      />

      <input class="btn btn-outline-warning" type="submit" value="Submit" />
    </form>
  </div>
</div>

{% endblock %}
